<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MyPortfolio</title>

    <!-- Jquery / Jquery-ui -->
    <script src="/extern/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/extern/jquery-ui/jquery-ui.min.css">
    <script src="/extern/jquery-ui/jquery-ui.min.js"></script>

    <!-- Jquery-sortable (https://johnny.github.io/jquery-sortable/) -->
    <script src="/extern/jquery-sortable/jquery-sortable-min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/extern/bootstrap/css/bootstrap.min.css">
    <script src="/extern/bootstrap/js/bootstrap.min.js"></script>

    <!-- Font-awesome -->
    <link href="/extern/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Fancybox 3 -->
    <link rel="stylesheet" href="/extern/fancybox/jquery.fancybox.min.css" />
    <script src="/extern/fancybox/jquery.fancybox.min.js"></script>

    <!-- Google Code Prettify -->
    <link rel="stylesheet" type="text/css" href="/extern/google-code-prettify/prettify.css">
    <script type="text/javascript" src="/extern/google-code-prettify/prettify.js"></script>

    <!-- Summernote WYSIWYG -->
    <link href="/extern/summernote/summernote.css" rel="stylesheet">
    <script src="/extern/summernote/summernote.min.js"></script>

    <!-- JsSocials -->
    <link rel="stylesheet" type="text/css" href="/extern/jssocials/jssocials.css" />
    <link rel="stylesheet" type="text/css" href="/extern/jssocials/jssocials-theme-flat.css" />
    <script src="/extern/jssocials/jssocials.min.js"></script>

    <!-- Custom style and js -->
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/summernote-custom-highlight.js"></script>

</head>
<body onload="PR.prettyPrint()">

    <!-- header -->
    <header id="site-header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#myportfolio-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        <img alt="MyPortfolio" class="img-circle myPortfolioLogo" src="/images/myPortfolio-logo-40.png">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="myportfolio-navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if ((typeof user !== 'undefined') && (user)) { %>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle userImage" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img class="img-circle" alt="<%= user.google.name %>" src="<%= user.google.imageUrl %>"> <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><p class="dropdownUserDetails">Logged in as:</p></li>
                                    <li><p class="dropdownUserDetails hvr-forward"><%= user.google.name %></p></li>
                                    <li><p class="dropdownUserDetails hvr-forward"><%= user.google.email %></p></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="hvr-glow" href="/portfolios/<%= user.google.id %>"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> View portfolio</a></li>
                                    <li><a class="hvr-glow" href="/portfolios/editPortfolioInfos"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit profile infos</a></li>
                                    <li><a class="hvr-glow" href="/portfolios/editPortfolioProjects"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit projects</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="hvr-glow" href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a class="hvr-glow" href="/eraseAccount"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove Account</a></li>
                                </ul>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="/auth/google"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login with Google</a>
                            </li>
                        <% } %>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/portfolios"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> List Portfolios</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- main -->
    <main id="site-main">
        <div class="container">
            <%- body %>
        </div>
    </main>

    <!-- footer -->
    <footer id="site-footer">
        <a id="back2Top" title="Back to top" href="#">&#10148;</a>
        <span>Copyright &copy; 2017 <a href="/portfolios/117555122180909325816">Danilo Carrabino</a></span>
        <span> | <a href="/termsofuse">Terms of use, Privacy Policy and Cookie Policy</a></span>
    </footer>

    <script>
    $(window).scroll(function() {
        var height = $(window).scrollTop();
        if (height > 100) {
            $('#back2Top').fadeIn();
        } else {
            $('#back2Top').fadeOut();
        }
    });
    $(document).ready(function() {
        $("#back2Top").click(function(event) {
            event.preventDefault();
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });

    });
    </script>
</body>
</html>
