<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a class="hvr-forward" href="/">Home</a></li>
    <li><a class="hvr-forward" href="/portfolios">Portfolios</a></li>
    <li class="active">Edit Projects</li>
</ol>

<div class="jumbotron text-center customizedBigColosseo bg-no-overlay">
    <div class="row">
        <div class="col-sm-12 contentCentered">
            <div class="textInTransparentBlack">
                <h1><img alt="MyPortfolio" class="img-circle hvr-bounce-in" src="/images/myPortfolio-logo-black-100.png"><span>ortfolio</span></h1>
                <h2>
                    <img class="img-circle hvr-bounce-in" src="<%= user.google.imageUrl %>" alt="<%= user.google.name %>">
                    <%= user.google.name %>
                </h2>
                <h3 class="jumbotronSubTitle">Edit Projects</h3>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-6 contentCentered">
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/editPortfolio" role="button">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit Profile Infos
            </a>
        </div>
        <div class="col-sm-6 contentCentered">
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/<%= user.google.id %>" role="button">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> View Portfolio
            </a>
        </div>
    </div>
</div>

<% if(errors.length > 0) { %>
    <div class="alert alert-danger">
        <% for(error of errors) { %>
            <%= error %><br>
        <% } %>
    </div>
<% } %>

<% if(success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
<% } %>

<form id="editPortfolioProjectsForm" action="/portfolios/editPortfolioProjects" enctype="multipart/form-data" method="POST">
    <div data-example-id="contextual-panels-projects">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Projects list</h3></div>
            <div class="panel-body">
                <ol class='project-orderable-list'>
                    <% for(project of portfolio.projectList) { %>
                    <li id="liproj_<%= project.id %>" data-id="<%= project.id %>" data-slug="<%= project.slug %>" data-isdeleted="no">
                        <i class="fa fa-arrows hvr-rotate" aria-hidden="true"></i>
                        <span><%= project.name %></span>
                        <span class="projectListBtnHolder">
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-primary hvr-grow" id="btnEditProject_<%= project.slug %>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Remove" class="btn btn-primary hvr-grow" id="btnRemoveProject_<%= project.slug %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Undelete" class="btn btn-primary hvr-grow" id="btnUndeleteProject_<%= project.slug %>" style="display:none">Undelete</button>
                        </span>
                    </li>
                    <% } %>
                </ol>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 contentCentered">
                        <button type="button" class="btn btn-primary hvr-float-shadow" id="btnAddProject"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add project</button>
                    </div>
                    <div class="col-sm-6 contentCentered">
                        <button type="button" class="btn btn-primary hvr-float-shadow" id="btnQuitEdit" style="display:none"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Quit Edit</button>
                    </div>
                </div>
                
            </div>
        </div>
        <input type="hidden" id="hiddenProjectList" name="hiddenProjectList" value="">
    </div>

    <hr class="featurette-divider">

    <!-- This div will be enabled on "Project Edit" or "Project Add" -->
    <div id="projectDiv" style="display:none">
        <input type="hidden" name="projectId" id="projectId" value="0" disabled="disabled">
        
        <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" name="projectName" id="projectName" class="form-control" disabled="disabled">
        </div>

        <div class="form-group">
            <label for="projectTitle">Project Title</label>
            <input type="text" name="projectTitle" id="projectTitle" class="form-control" disabled="disabled">
        </div>

        <div class="form-group">
            <label for="projectBriefDescription">Project Brief Description</label>
            <textarea name="projectBriefDescription" id="projectBriefDescription" class="form-control" disabled="disabled"></textarea>
        </div>

        <div class="form-group">
            <label for="projectDetailedDescription">Project Detailed Description</label>
            <textarea name="projectDetailedDescription" id="projectDetailedDescription" class="form-control" disabled="disabled"></textarea>
            <!--
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" id="preview-btn" class="btn btn-success">preview</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" id="closepreview-btn" class="btn btn-success">close preview</button>
                </div>
            </div>
            <hr>
            <div id="preview-box">
        
            </div>
            -->
        </div>

        <hr class="featurette-divider">
    </div>

    <div class="form-group">
        <button type="submit" id="editPortfolioSubmitBtn" class="btn btn-success btn-lg hvr-float-shadow">Update Projects</button>
    </div>
</form>

<script>
    $(function () {
        $('#projectDetailedDescription').summernote({
            // close prettify Html
            prettifyHtml:false,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video', 'hr']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']],
                ['undo', ['undo', 'redo']],
                ['highlight', ['highlight']]
            ],
            popover: {
                image: [
                    ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                    ['float', ['floatLeft', 'floatRight', 'floatNone']],
                    ['remove', ['removeMedia']]
                ],
                link: [
                    ['link', ['linkDialogShow', 'unlink']]
                ],
                air: [
                    ['color', ['color']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']]
                ]
            }
        });

        $('#preview-btn').on('click', function () {
            $('#preview-box').html( $('#profileDescription').summernote('code') );
            prettyPrint();
        });
        $('#closepreview-btn').on('click', function () {
            $('#preview-box').html('');
        });
        
        var sortableProjectList = $("ol.project-orderable-list").sortable({
            handle: 'i.fa-arrows'
        });
        
        $('#editPortfolioProjectsForm').submit(function() {
            var data = sortableProjectList.sortable("serialize").get();
            var jsonString = JSON.stringify(data, null, ' ');
            $("#hiddenProjectList").val(jsonString);
            //event.preventDefault();
        });

        $('#btnAddProject').on("click", function() {
            setTimeout(function() {
                $('#projectId').val('0');
                $('#projectId').prop("disabled", false);

                $('#projectName').val('');
                $('#projectName').prop("disabled", false);
                
                $('#projectTitle').val('');
                $('#projectTitle').prop("disabled", false);
                
                $('#projectBriefDescription').val('');
                $('#projectBriefDescription').prop("disabled", false);
                
                $('#projectDetailedDescription').summernote('code', '');
                $('#projectDetailedDescription').prop("disabled", false);
                
                $('#projectDiv').show();
                $('#btnQuitEdit').show();
            }, 100);
        });

        $('button[id^="btnEditProject_"]').on("click", function() {
            var prId = $(this).closest("li").data("id");
            var prList = <%- JSON.stringify(portfolio.projectList) %>;
            for(project of prList) {
                if(project._id == prId) {
                    //console.log(project);
                    $('#projectId').val(prId);
                    $('#projectId').prop("disabled", false);

                    $('#projectName').val(project.name);
                    $('#projectName').prop("disabled", false);
                    
                    $('#projectTitle').val(project.title);
                    $('#projectTitle').prop("disabled", false);
                    
                    $('#projectBriefDescription').val(project.briefDescription);
                    $('#projectBriefDescription').prop("disabled", false);
                    
                    $('#projectDetailedDescription').summernote('code', project.detailedDescription);
                    $('#projectDetailedDescription').prop("disabled", false);
                    
                    $('#projectDiv').show();
                    $('#btnQuitEdit').show();

                    break;
                }
            }
        });

        $('button[id^="btnRemoveProject_"]').on("click", function() {
            var myProjSlug = $(this).closest("li").data('slug');
            $(this).closest("li")[0].dataset.isdeleted = "yes";
            $('#btnEditProject_' + myProjSlug).hide();
            $('#btnRemoveProject_' + myProjSlug).hide();
            $('#btnUndeleteProject_' + myProjSlug).show();
            var myProjId = $(this).closest("li").data('id');
            if(myProjId == $('#projectId').val()) {
                $('#btnQuitEdit').trigger( "click" );
            }
        });

        $('button[id^="btnUndeleteProject_"]').on("click", function() {
            var myProjSlug = $(this).closest("li").data('slug');
            $(this).closest("li")[0].dataset.isdeleted = "no";
            $('#btnEditProject_' + myProjSlug).show();
            $('#btnRemoveProject_' + myProjSlug).show();
            $('#btnUndeleteProject_' + myProjSlug).hide();
        });

        $('#btnQuitEdit').on("click", function() {
            $('#projectId').val('0');
            $('#projectId').prop("disabled", true);

            $('#projectName').val('');
            $('#projectName').prop("disabled", true);
            
            $('#projectTitle').val('');
            $('#projectTitle').prop("disabled", true);
            
            $('#projectBriefDescription').val('');
            $('#projectBriefDescription').prop("disabled", true);
            
            $('#projectDetailedDescription').val('');
            $('#projectDetailedDescription').prop("disabled", true);

            $('#projectDiv').hide();
            $('#btnQuitEdit').hide();
        });

        /*
        $("#editPortfolioSubmitBtn").on("click", function() {
            $("#hiddenProjectList").val(sortableProjectList.sortable("serialize").get());
        });
        */
    });
</script>
