<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a class="hvr-forward" href="/">Home</a></li>
    <li><a class="hvr-forward" href="/portfolios">Portfolios</a></li>
    <li class="active">Edit Projects</li>
</ol>

<div class="jumbotron text-center customizedBigColosseo bg-no-overlay">
    <div class="row">
        <div class="col-sm-12 contentCentered">
            <div class="textInTransparentBlack">
                <h1><img alt="MyPortfolio" class="img-circle hvr-bounce-in" src="/images/myPortfolio-logo-black-100.png"><span>ortfolio</span></h1>
                <h2>
                    <img class="img-circle hvr-bounce-in" src="<%= user.google.imageUrl %>" alt="<%= user.google.name %>">
                    <%= user.google.name %>
                </h2>
                <h3 class="jumbotronSubTitle">Edit Projects</h3>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-6 contentCentered">
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/editPortfolioInfos" role="button">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit Profile Infos
            </a>
        </div>
        <div class="col-sm-6 contentCentered">
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/<%= user.google.eslug %>" role="button">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> View Portfolio
            </a>
        </div>
    </div>
</div>

<% if(errors.length > 0) { %>
    <div class="alert alert-danger">
        <% for(error of errors) { %>
            <%= error %><br>
        <% } %>
    </div>
<% } %>

<% if(success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
<% } %>

<form id="editPortfolioProjectsForm" action="/portfolios/editPortfolioProjects" enctype="multipart/form-data" method="POST">
    <div data-example-id="contextual-panels-projects">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Projects list</h3></div>
            <div class="panel-body">
                <ol class='project-orderable-list'>
                    <% for(project of portfolio.projectList) { %>
                    <li id="liproj_<%= project.id %>" data-id="<%= project.id %>" data-slug="<%= project.slug %>" data-isdeleted="no">
                        <i class="fa fa-arrows hvr-rotate" aria-hidden="true"></i>
                        <span><%= project.name %></span>
                        <span class="projectListBtnHolder">
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Edit" class="btn btn-primary hvr-grow" id="btnEditProject_<%= project.slug %>"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Remove" class="btn btn-primary hvr-grow" id="btnRemoveProject_<%= project.slug %>"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Undelete" class="btn btn-primary hvr-grow" id="btnUndeleteProject_<%= project.slug %>" style="display:none">Undelete</button>
                        </span>
                    </li>
                    <% } %>
                </ol>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-6 contentCentered">
                        <button type="button" class="btn btn-primary hvr-float-shadow" id="btnAddProject"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add project</button>
                    </div>
                    <div class="col-sm-6 contentCentered">
                        <button type="button" class="btn btn-primary hvr-float-shadow" id="btnQuitEdit" style="display:none"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Quit Edit</button>
                    </div>
                </div>
                
            </div>
        </div>
        <input type="hidden" id="hiddenProjectList" name="hiddenProjectList" value="">
    </div>

    <hr class="featurette-divider">

    <!-- This div will be enabled on "Project Edit" or "Project Add" -->
    <div id="projectDiv" style="display:none">
        <input type="hidden" name="projectId" id="projectId" value="0" disabled="disabled">
        
        <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" name="projectName" id="projectName" class="form-control" disabled="disabled">
        </div>

        <div class="form-group">
            <label for="projectTitle">Project Title</label>
            <input type="text" name="projectTitle" id="projectTitle" class="form-control" disabled="disabled">
        </div>

        <div class="form-group">
            <label for="projectBriefDescription">Project Brief Description</label>
            <textarea name="projectBriefDescription" id="projectBriefDescription" class="form-control" disabled="disabled"></textarea>
        </div>

        <div class="form-group">
            <label for="projectDetailedDescription">Project Detailed Description</label>
            <textarea name="projectDetailedDescription" id="projectDetailedDescription" class="form-control" disabled="disabled"></textarea>
            <!--
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" id="preview-btn" class="btn btn-success">preview</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" id="closepreview-btn" class="btn btn-success">close preview</button>
                </div>
            </div>
            <hr>
            <div id="preview-box">
        
            </div>
            -->
        </div>

        <hr class="featurette-divider">

        <div data-example-id="contextual-panels-media">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Media list</h3></div>
                <div class="panel-body">
                    <ol class='media-orderable-list'>
                        
                    </ol>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 contentCentered">
                            <button type="button" class="btn btn-primary hvr-float-shadow" id="btnAddMedia"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Image</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <input type="hidden" id="hiddenMediaList" name="hiddenMediaList" disabled="disabled" value="">
    </div>

    <div class="form-group">
        <button type="submit" id="editPortfolioProjectsSubmitBtn" class="btn btn-success btn-lg hvr-float-shadow">Update Projects</button>
    </div>
</form>

<!-- Bootstrap modal dialog -->
<div class="modal fade" id="imageSelectModal" tabindex="-1" role="dialog" aria-labelledby="imageSelectModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="imageSelectModalLabel">Select Image</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="imageurl" class="control-label">Image URL:</label>
                        <input type="text" class="form-control" id="imageurl">
                    </div>
                    <div class="form-group">
                        <label for="imageinput" class="control-label">Image File:</label>
                        <input type="file" class="form-control" id="imageinput">
                    </div>
                    <input type="hidden" id="imageid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="modalSetImageBtn">Set Image</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        function isUrlValid(url) {
            return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@)|\/|\?)*)?$/i.test(url);
        }

        function modalFormReset() {
            $('#imageurl').val('');
            $('#imageid').val('');
            $('#imageinput').replaceWith(
                $('#imageinput').clone(true)
            );
            $('#imageinput').val('');
        }

        $('#projectDetailedDescription').summernote({
            // close prettify Html
            prettifyHtml:false,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video', 'hr']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']],
                ['undo', ['undo', 'redo']],
                ['highlight', ['highlight']]
            ],
            popover: {
                image: [
                    ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                    ['float', ['floatLeft', 'floatRight', 'floatNone']],
                    ['remove', ['removeMedia']]
                ],
                link: [
                    ['link', ['linkDialogShow', 'unlink']]
                ],
                air: [
                    ['color', ['color']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']]
                ]
            }
        });

        $('#preview-btn').on('click', function () {
            $('#preview-box').html( $('#profileDescription').summernote('code') );
            prettyPrint();
        });
        $('#closepreview-btn').on('click', function () {
            $('#preview-box').html('');
        });
        
        var sortableProjectList = $("ol.project-orderable-list").sortable({
            handle: 'i.fa-arrows'
        });

        var sortableMediaList = $("ol.media-orderable-list").sortable({
            handle: 'i.fa-arrows'
        });
        
        $('#editPortfolioProjectsForm').submit(function() {
            var data = sortableProjectList.sortable("serialize").get();
            var jsonString = JSON.stringify(data, null, ' ');
            $("#hiddenProjectList").val(jsonString);

            var dataMedia = sortableMediaList.sortable("serialize").get();
            var jsonStringMedia = JSON.stringify(dataMedia, null, ' ');
            $("#hiddenMediaList").val(jsonStringMedia);
            //event.preventDefault();
        });

        /**
         * function createLi
         * inputMedia can be a media object or null (it mean we have to create a brand new li)
         */
        function createLi(inputMedia) {
            let myMedia;
            let myDataIsCreated = 'no';
            if(inputMedia) {
                myMedia = inputMedia;
            }
            else {
                myMedia = {
                    _id: '' + Math.floor((Math.random() * 2000000000) + 1),
                    mediaUrl: '/images/imagePlaceholder.jpg',
                    mediaTitle: '',
                    description: ''
                };
                myDataIsCreated = 'yes';
            }

            return $(
                '<li class="mediaLi" id="limedia_'+myMedia._id+'"\
                data-id="'+myMedia._id+'" data-iscreated="'+myDataIsCreated+'" data-isdeleted="no"\
                data-mediaurl="'+myMedia.mediaUrl+'" data-mediatitle="'+myMedia.mediaTitle+'"\
                data-mediadescription="'+myMedia.description+'">\
                <div class="mediaLiItem">\
                    <i class="fa fa-arrows hvr-rotate" aria-hidden="true"></i>\
                    <div class="carousel slide smallCarousel" data-ride="carousel">\
                        <div class="carousel-inner" role="listbox">\
                            <div class="item active smallCarousel">\
                                <img id="mediaImage_'+myMedia._id+'" class="img-responsive center-block" src="'+myMedia.mediaUrl+'">\
                                <div class="container">\
                                    <div class="carousel-caption textInTransparentBlack smallCarousel">\
                                        <button type="button" id="btnEditImage_'+myMedia._id+'" class="btn btn-primary hvr-grow" data-toggle="modal" data-target="#imageSelectModal" data-imageid="'+myMedia._id+'">Edit image</button>\
                                    </div>\
                                </div>\
                            </div>\
                        </div>\
                    </div>\
                    <div class="mediaLiItemTitles">\
                        <div class="mediaLiItemTitlesLabel">Title:</div>\
                        <input type="text" id="mediaInputTitle_'+myMedia._id+'" class="mediaLiItemTitlesTitleVal" value="'+myMedia.mediaTitle+'">\
                        <div class="mediaLiItemTitlesLabel">Description:</div>\
                        <input type="text" id="mediaInputDescription_'+myMedia._id+'" class="mediaLiItemTitlesDescriptionVal" value="'+myMedia.description+'">\
                    </div>\
                    <span class="mediaListBtnHolder">\
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Remove" class="btn btn-primary hvr-grow" id="btnRemoveMedia_'+myMedia._id+'"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>\
                        <button type="button" data-toggle="tooltip" data-placement="top" title="Undelete" class="btn btn-primary hvr-grow" id="btnUndeleteMedia_'+myMedia._id+'" style="display:none">Undelete</button>\
                    </span>\
                </div></li>'
            );
        }

        $('#btnAddProject').on("click", function() {
            $('#projectId').val('0');
            $('#projectId').prop("disabled", false);

            $('#projectName').val('');
            $('#projectName').prop("disabled", false);
            
            $('#projectTitle').val('');
            $('#projectTitle').prop("disabled", false);
            
            $('#projectBriefDescription').val('');
            $('#projectBriefDescription').prop("disabled", false);
            
            $('#projectDetailedDescription').summernote('code', '');
            $('#projectDetailedDescription').prop("disabled", false);

            $("ol.media-orderable-list").empty();
            $('#hiddenMediaList').val('');
            $('#hiddenMediaList').prop("disabled", false);
            
            $('#projectDiv').show();
            $('#btnQuitEdit').show();
        });

        $('button[id^="btnEditProject_"]').on("click", function() {
            var prId = $(this).closest("li").data("id");
            var prList = <%- JSON.stringify(portfolio.projectList) %>;
            for(project of prList) {
                if(project._id == prId) {
                    //console.log(project);
                    $('#projectId').val(prId);
                    $('#projectId').prop("disabled", false);

                    $('#projectName').val(project.name);
                    $('#projectName').prop("disabled", false);
                    
                    $('#projectTitle').val(project.title);
                    $('#projectTitle').prop("disabled", false);
                    
                    $('#projectBriefDescription').val(project.briefDescription);
                    $('#projectBriefDescription').prop("disabled", false);
                    
                    $('#projectDetailedDescription').summernote('code', project.detailedDescription);
                    $('#projectDetailedDescription').prop("disabled", false);

                    $('#hiddenMediaList').val('');
                    $('#hiddenMediaList').prop("disabled", false);
                    $("ol.media-orderable-list").empty();

                    for(media of project.mediaList) {
                        let newLiImage = createLi(media);
                        newLiImage.appendTo('ol.media-orderable-list');
                    }
                    
                    $('#projectDiv').show();
                    $('#btnQuitEdit').show();

                    $('html,body').animate({scrollTop: $("#projectDiv").offset().top - 50}, 'slow');

                    break;
                }
            }
        });

        $('button[id^="btnRemoveProject_"]').on("click", function() {
            var myProjSlug = $(this).closest("li").data('slug');
            $(this).closest("li")[0].dataset.isdeleted = "yes";
            $('#btnEditProject_' + myProjSlug).hide();
            $('#btnRemoveProject_' + myProjSlug).hide();
            $('#btnUndeleteProject_' + myProjSlug).show();
            var myProjId = $(this).closest("li").data('id');
            if(myProjId == $('#projectId').val()) {
                $('#btnQuitEdit').trigger( "click" );
            }
        });

        $('button[id^="btnUndeleteProject_"]').on("click", function() {
            var myProjSlug = $(this).closest("li").data('slug');
            $(this).closest("li")[0].dataset.isdeleted = "no";
            $('#btnEditProject_' + myProjSlug).show();
            $('#btnRemoveProject_' + myProjSlug).show();
            $('#btnUndeleteProject_' + myProjSlug).hide();
        });

        $('#btnQuitEdit').on("click", function() {
            $('#projectId').val('0');
            $('#projectId').prop("disabled", true);

            $('#projectName').val('');
            $('#projectName').prop("disabled", true);
            
            $('#projectTitle').val('');
            $('#projectTitle').prop("disabled", true);
            
            $('#projectBriefDescription').val('');
            $('#projectBriefDescription').prop("disabled", true);
            
            $('#projectDetailedDescription').val('');
            $('#projectDetailedDescription').prop("disabled", true);

            $("ol.media-orderable-list").empty();
            $('#hiddenMediaList').val('');
            $('#hiddenMediaList').prop("disabled", true);

            $('#projectDiv').hide();
            $('#btnQuitEdit').hide();
        });

        $(document).on('input', 'input[id^="mediaInputTitle_"]', function(e) {
            $(this).closest("li")[0].dataset.mediatitle = $(this).val();
        });

        $(document).on('input', 'input[id^="mediaInputDescription_"]', function(e) {
            $(this).closest("li")[0].dataset.mediadescription = $(this).val();
        });

        $('#btnAddMedia').on('click', function() {
            let newLiImage = createLi(null);
            newLiImage.appendTo('ol.media-orderable-list');
        });

        $('#imageSelectModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var imageid = button.data('imageid'); // Extract info from data-imageid attribute
            //console.log(imageid);
            var modal = $(this);
            modal.find('.modal-body #imageid').val(imageid);
        });

        $('#imageSelectModal').on('hidden.bs.modal', function (e) {
            modalFormReset();
        });

        function setImageUrl() {
            if(isUrlValid($('#imageurl').val())) {
                $('#mediaImage_' + $("#imageid").val()).attr("src", $('#imageurl').val());
                $('#mediaImage_' + $("#imageid").val()).closest("li")[0].dataset.mediaurl = $('#imageurl').val();
                return true;
            }
            else {
                alert("Url " + $('#imageurl').val() + " is not valid");
                return false;
            }
        }

        function setImageData(inputData) {
            $('#mediaImage_' + $("#imageid").val()).attr("src", inputData);
            $('#mediaImage_' + $("#imageid").val()).closest("li")[0].dataset.mediaurl = inputData;
        }

        function openImageFile(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function() {
                setImageData(reader.result);
                $("#imageSelectModal").modal("hide");
            };
            reader.readAsDataURL(input.files[0]);
        };
        
        $(document).on('change', '#imageinput', function(event) {
            openImageFile(event);
        });

        $('#modalSetImageBtn').on('click', function() {
            if(setImageUrl()) {
                $("#imageSelectModal").modal("hide");
            }
        });

        $(document).on('click', 'button[id^="btnRemoveMedia_"]', function(event) {
            if($(this).closest("li").data('iscreated') == "yes") {
                $(this).closest("li").remove();
            }
            else {
                $(this).closest("li")[0].dataset.isdeleted = "yes";
                let myMediaId = $(this).closest("li").data('id');
                $('#btnUndeleteMedia_' + myMediaId).show();
                $('#btnRemoveMedia_' + myMediaId).hide();
                $('#mediaInputTitle_' + myMediaId).prop("readonly", true);
                $('#mediaInputDescription_' + myMediaId).prop("readonly", true);
                $('#btnEditImage_' + myMediaId).prop("disabled", true);
            }
        });

        $(document).on('click', 'button[id^="btnUndeleteMedia_"]', function(event) {
            $(this).closest("li")[0].dataset.isdeleted = "no";
            let myMediaId = $(this).closest("li").data('id');
            $('#btnUndeleteMedia_' + myMediaId).hide();
            $('#btnRemoveMedia_' + myMediaId).show();
            $('#mediaInputTitle_' + myMediaId).prop("readonly", false);
                $('#mediaInputDescription_' + myMediaId).prop("readonly", false);
                $('#btnEditImage_' + myMediaId).prop("disabled", false);
        });
    });
</script>
