<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a class="hvr-forward" href="/">Home</a></li>
    <li><a class="hvr-forward" href="/portfolios">Portfolios</a></li>
    <li class="active">Edit Profile Infos</li>
</ol>

<div class="jumbotron text-center customizedBigColosseo bg-no-overlay">
    <div class="row">
        <div class="col-sm-12 contentCentered">
            <div class="textInTransparentBlack">
                <h1><img alt="MyPortfolio" class="img-circle hvr-bounce-in" src="/images/myPortfolio-logo-black-100.png"><span>ortfolio</span></h1>
                <h2>
                    <img class="img-circle hvr-bounce-in" src="<%= user.google.imageUrl %>" alt="<%= user.google.name %>">
                    <%= user.google.name %>
                </h2>
                <h3 class="jumbotronSubTitle">Edit Profile Infos</h3>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-6 contentCentered">
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/editPortfolioProjects" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit Projects
            </a>
        </div>
        <div class="col-sm-6 contentCentered">
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/<%= user.google.eslug %>" role="button">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span> View Portfolio
            </a>
        </div>
    </div>
</div>

<% if(errors.length > 0) { %>
    <div class="alert alert-danger">
        <% for(error of errors) { %>
            <%= error %><br>
        <% } %>
    </div>
<% } %>

<% if(success.length > 0) { %>
    <div class="alert alert-success">
        <%= success %>
    </div>
<% } %>

<form id="editPortfolioInfosForm" action="/portfolios/editPortfolioInfos" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <label for="profileTitle">Profile Title</label>
        <input type="text" name="profileTitle" class="form-control" value="<%= portfolio.profileTitle %>">
    </div>

    <div class="form-group">
        <label for="profileDescription">Profile Description</label>
        <textarea name="profileDescription" id="profileDescription" class="form-control"><%= portfolio.profileDescription %></textarea>
        <!--
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <button type="button" id="preview-btn" class="btn btn-success">preview</button>
            </div>
            <div class="col-sm-6">
                <button type="button" id="closepreview-btn" class="btn btn-success">close preview</button>
            </div>
        </div>
        <hr>
        <div id="preview-box">
    
        </div>
        -->
    </div>

    <hr class="featurette-divider">

    <div class="form-group">
        <div data-example-id="contextual-panels-cv">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Curriculum Vitae</h3></div>
                <div class="panel-body">
                    <input type="file" id="cvInputFile" name="cvInputFile">
                    <% if(portfolio.cv.length > 0) { %>
                    <!-- <p class="help-block">You already uploaded a CV named <%= path.basename(portfolio.cv) %></p> -->
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail contentCentered">
                                <a class="hvr-float-shadow" href="<%= portfolio.cv %>" download="<%= portfolio.createdBy.google.name + ' - CV' + path.extname(portfolio.cv) %>">
                                    <img src="/images/genericFileThumbnail-100.png" id="cvThumbnail" alt="<%= path.basename(portfolio.cv) %>">
                                </a>
                                <div class="caption">
                                    <h4><%= path.basename(portfolio.cv) %></h4>
                                    <p id='cvButtons'>
                                        <button type="button" class="btn btn-primary hvr-float-shadow" id="btnCvDelete">Delete</button>
                                        <button type="button" class="btn btn-primary hvr-float-shadow" id="btnUndoCvDelete" style="display:none">Undelete</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="cvIsDeleted" id="cvIsDeleted" value="0">
                    <% } else { %>
                    <p class="help-block">No uploaded CV so far</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- User's web links -->
    <%  
    var githubPrefix = "https://github.com/";
    var stackoverflowPrefix = "https://stackoverflow.com/users/";
    var linkedinPrefix = "https://www.linkedin.com/in/";
    var hackerrankPrefix = "https://www.hackerrank.com/";

    var githubFormVal = "";
    var stackoverflowFormVal = "";
    var linkedinFormVal = "";
    var hackerrankFormVal = "";

    var githubStr = portfolio.webportals.github;
    var stackoverflowStr = portfolio.webportals.stackoverflow;
    var linkedinStr = portfolio.webportals.linkedin;
    var hackerrankStr = portfolio.webportals.hackerrank;

    if(githubStr.length > 0) {        
        githubFormVal = githubStr.substring(githubStr.indexOf(githubPrefix) + githubPrefix.length);
    }
    if(stackoverflowStr.length > 0) {        
        stackoverflowFormVal = stackoverflowStr.substring(stackoverflowStr.indexOf(stackoverflowPrefix) + stackoverflowPrefix.length);
    }
    if(linkedinStr.length > 0) {        
        linkedinFormVal = linkedinStr.substring(linkedinStr.indexOf(linkedinPrefix) + linkedinPrefix.length);
    }
    if(hackerrankStr.length > 0) {        
        hackerrankFormVal = hackerrankStr.substring(hackerrankStr.indexOf(hackerrankPrefix) + hackerrankPrefix.length);
    }
    %>
    <div class="form-group">
        <div data-example-id="contextual-panels-weblinks">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Web Links</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <!-- Github -->
                        <div class="col-sm-6 contentCentered weblinks">
                            <img src="/images/github-140.png" alt="Github" width="100" height="100">
                            <h2>Github</h2>
                            <div class="input-group">
                                <span class="input-group-addon">https://github.com/</span>
                                <input type="text" class="form-control" name="githubLink" value="<%= githubFormVal %>">
                            </div>
                        </div>
                        <!-- Stack Overflow -->
                        <div class="col-sm-6 contentCentered weblinks">
                            <img src="/images/stackoverflow-140.png" alt="Stack Overflow" width="100" height="100">
                            <h2>Stack Overflow</h2>
                            <div class="input-group">
                                <span class="input-group-addon">https://stackoverflow.com/users/</span>
                                <input type="text" class="form-control" name="stackoverflowLink" value="<%= stackoverflowFormVal %>">
                            </div>
                        </div>
                        <!-- LinkedIn -->
                        <div class="col-sm-6 contentCentered weblinks">
                            <img src="/images/linkedin-140.png" alt="LinkedIn" width="100" height="100">
                            <h2>LinkedIn</h2>
                            <div class="input-group">
                                <span class="input-group-addon">https://www.linkedin.com/in/</span>
                                <input type="text" class="form-control" name="linkedinLink" value="<%= linkedinFormVal %>">
                            </div>
                        </div>
                        <!-- Hackerrank -->
                        <div class="col-sm-6 contentCentered weblinks">
                            <img src="/images/hackerrank-140.png" alt="Hackerrank" width="100" height="100">
                            <h2>Hackerrank</h2>
                            <div class="input-group">
                                <span class="input-group-addon">https://www.hackerrank.com/</span>
                                <input type="text" class="form-control" name="hackerrankLink" value="<%= hackerrankFormVal %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="form-group">
        <button type="submit" id="editPortfolioInfosSubmitBtn" class="btn btn-success btn-lg hvr-float-shadow">Update all</button>
    </div>
</form>

<script>
    $(function () {
        $('#profileDescription').summernote({
            // close prettify Html
            prettifyHtml:false,
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                ['fontname', ['fontname']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video', 'hr']],
                ['view', ['fullscreen', 'codeview']],
                ['help', ['help']],
                ['undo', ['undo', 'redo']],
                ['highlight', ['highlight']]
            ],
            popover: {
                image: [
                    ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                    ['float', ['floatLeft', 'floatRight', 'floatNone']],
                    ['remove', ['removeMedia']]
                ],
                link: [
                    ['link', ['linkDialogShow', 'unlink']]
                ],
                air: [
                    ['color', ['color']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['para', ['ul', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']]
                ]
            }
        });

        $('#preview-btn').on('click', function () {
            $('#preview-box').html( $('#profileDescription').summernote('code') );
            prettyPrint();
        });
        $('#closepreview-btn').on('click', function () {
            $('#preview-box').html('');
        });

        $('#btnCvDelete').on('click', function() {
            $('#cvThumbnail').attr('src', "/images/genericDeletedFileThumbnail-100.png");
            $('#cvIsDeleted').val('1');
            $('#btnCvDelete').hide();
            $('#btnUndoCvDelete').show();
        });
        $('#btnUndoCvDelete').on('click', function() {
            $('#cvThumbnail').attr('src', "/images/genericFileThumbnail-100.png");
            $('#cvIsDeleted').val('0');
            $('#btnCvDelete').show();
            $('#btnUndoCvDelete').hide();
        });
        
        $('#editPortfolioInfosForm').submit(function() {
            //event.preventDefault();
        });

        /*
        $("#editPortfolioInfosSubmitBtn").on("click", function() {
            $("#hiddenProjectList").val(sortableProjectList.sortable("serialize").get());
        });
        */
    });
</script>
