<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a class="hvr-forward" href="/">Home</a></li>
    <li class="active">Portfolios</li>
</ol>

<div class="jumbotron text-center customizedNormalColosseo bg-no-overlay">
    <div class="row">
        <div class="col-sm-12 contentCentered textInTransparentBlack">
            <h1><img alt="MyPortfolio" class="img-circle hvr-bounce-in" src="/images/myPortfolio-logo-black-100.png"><span>ortfolio</span></h1>
            <h2><span>Profiles</span></h2>
        </div>
    </div>
</div>

<div class="row">
    <% for(var portfolio of portfolios) { %>
        <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1 contentCentered userPortfolio hvr-glow">
            <a href="/portfolios/<%= portfolio.createdBy.google.eslug %>">
                <img class="img-circle hvr-bounce-in" src="<%= portfolio.createdBy.google.imageUrl %>" alt="<%= portfolio.createdBy.google.name %>">
            </a>
            <h2><%= portfolio.createdBy.google.name %></h2>
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/<%= portfolio.createdBy.google.eslug %>" role="button">
                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
            </a>
        </div>
        <div class="col-sm-1"></div>
    <% } %>
</div>
