<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a class="hvr-forward" href="/">Home</a></li>
    <li><a class="hvr-forward" href="/portfolios">Portfolios</a></li>
    <li><a class="hvr-forward" href="/portfolios/<%= project.createdBy.google.eslug %>"><%= project.createdBy.google.name %></a></li>
    <li class="active"><%= project.slug %></li>
</ol>

<div class="jumbotron text-center customizedNormalAbstract bg-no-overlay">
    <div class="row">
        <div class="col-sm-12 contentCentered">
            <div class="textInTransparentBlack">
                <h1><img alt="MyPortfolio" class="img-circle hvr-bounce-in" src="/images/myPortfolio-logo-black-100.png"><span>ortfolio</span></h1>
                <h2>
                    <img class="img-circle hvr-bounce-in" src="<%= project.createdBy.google.imageUrl %>" alt="<%= project.createdBy.google.name %>">
                    <%= project.createdBy.google.name %>
                </h2>
                <!-- <h3 class="jumbotronSubTitle"><%= project.name %></h3> -->
            </div>
        </div>
    </div>
    <% if ( (prevProject) || (succProject) ||
            ((typeof user !== 'undefined') && (user) && (user.google.id === project.createdBy.google.id))
          ) { %>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-4 contentCentered">
            <% if (prevProject) { %>
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/<%= project.createdBy.google.eslug %>/<%= prevProject.slug %>" role="button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <%= prevProject.name %>
            </a>
            <% } %>
        </div>
        <div class="col-sm-4 contentCentered">
            <% if ((typeof user !== 'undefined') && (user) && (user.google.id === project.createdBy.google.id)) { %>
                <a class="btn btn-primary hvr-float-shadow" href="/portfolios/editPortfolioProjects" role="button">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit Projects
                </a>
            <% } %>
        </div>
        <div class="col-sm-4 contentCentered">
            <% if (succProject) { %>
                <a class="btn btn-primary hvr-float-shadow" href="/portfolios/<%= project.createdBy.google.eslug %>/<%= succProject.slug %>" role="button">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <%= succProject.name %>
                </a>
            <% } %>
        </div>
    </div>
    <% } %>
</div>

<!-- Project's details -->
<div data-example-id="contextual-panels-project">
    <div class="panel panel-primary">
        <!-- Project's title -->
        <div class="panel-heading"><h3 class="panel-title bigger-title"><%- project.title %></h3></div>
        <!-- Detailed Description -->
        <div class="panel-body summernoteContents"> <%- project.detailedDescription %> </div>
    </div>
</div>

<!-- Project's carousel -->
<%  // add example image to project if project.mediaList is empty
    if(project.mediaList.length < 1) {
        project.mediaList.push({
            mediaUrl: "/images/myPortfolio-logo-black-400.png",
            mediaTitle: "Example image",
            description: "This is an example image"
        });
    }
    const carouselId = "myCarousel_" + project.slug;
    const carouselIndicatorsId = "myCarouselIndicators_" + project.slug;
    const carouselInnerId = "myCarouselInner_" + project.slug; %>
<div class="row carousel-row">
    <div class="col-sm-12 carousel-div-center backInCustomLightBlue">
        <div id="<%= carouselId %>" class="carousel slide" data-ride="carousel">
            <ol id="<%= carouselIndicatorsId %>" class="carousel-indicators">
                <%  var mediaId = 0;
                    for(media of project.mediaList) { 
                        if(mediaId === 0) { %>
                        <li data-target="#<%= carouselId %>" data-slide-to="<%= mediaId %>" class="active"></li>
                        <% } else { %>
                        <li data-target="#<%= carouselId %>" data-slide-to="<%= mediaId %>"></li>
                        <% }  %>
                <%  mediaId++;
                    }  %>
            </ol>

            <div id="m<%= carouselInnerId %>" class="carousel-inner" role="listbox">
                <%  mediaId = 0;
                    for(media of project.mediaList) { 
                    if(mediaId === 0) { %>
                    <div class="item active">
                    <% } else { %>
                    <div class="item">
                    <% }  %>
                        <a data-fancybox="<%= project.slug %>" data-caption="<%= media.mediaTitle + ' - ' + media.description %>" href="<%= media.mediaUrl %>">
                            <img class="img-responsive center-block" src="<%= media.mediaUrl %>" alt="<%= media.mediaTitle %>">
                        </a>
                        <div class="container">
                            <div class="carousel-caption textInTransparentBlack">
                                <h2><%= media.mediaTitle %></h2>
                                <p><%= media.description %></p>
                            </div>
                        </div>
                    </div>
                <%  mediaId++;
                    }  %>
            </div>

            <% if(project.mediaList.length > 1) { %>
            <a class="left carousel-control" href="#<%= carouselId %>" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#<%= carouselId %>" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div>
    </div>
        
</div>

<hr class="featurette-divider">

<div class="row">
    <div id="share" class="col-sm-12 contentCentered"></div>
</div>

<script>
    $(function () {
        $("#share").jsSocials({
            showCount: false,
            showLabel: false,
            shareIn: "popup",
            shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "whatsapp"]
        });
    });
</script>
