<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/portfolios">Portfolios</a></li>
    <li class="active"><%= portfolio.createdBy.google.name %></li>
</ol>

<div class="jumbotron text-center customizedNormal bg-no-overlay">
    <div class="row">
        <div class="col-sm-12 contentCentered">
            <img class="img-circle" src="<%= portfolio.createdBy.google.imageUrl %>" alt="<%= portfolio.createdBy.google.name %>">
            <h1 class="textInTransparentBlack"><%= portfolio.createdBy.google.name %></h1>
            <h2 class="textInTransparentBlack">Portfolio</h2>
        </div>
    </div>
</div>

<% if(errors.length > 0) { %>
    <div class="alert alert-danger">
        <% for(error of errors) { %>
            <%= error %><br>
        <% } %>
    </div>
<% } %>

<!-- User's details -->
<div class="row rowwithmargins">
    <div class="col-sm-2"></div>
    <!-- Description -->
    <div class="col-sm-8 userdetails">
        <div class="userDescription">
            <%- portfolio.userDescription %>
        </div>
        <% if(portfolio.cv.length > 0) { %>
        <br>
        <div class="row">
            <div class="col-sm-6 contentCentered">
                <a class="btn btn-primary" href="<%= portfolio.cv %>" target="_blank" role="button">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Open CV
                </a>
            </div>
            <div class="col-sm-6 contentCentered">
                <a class="btn btn-primary" href="<%= portfolio.cv %>" download="<%= portfolio.createdBy.google.name + ' - CV' + path.extname(portfolio.cv) %>" role="button">
                    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download CV
                </a>
            </div>
        </div>
        <% } %>
    </div>
    <div class="col-sm-2"></div>
</div>

<hr class="featurette-divider">

<!-- User's projects -->
<div id="projectsdiv">
<%  var progCounter = 0;
    var isEven = true;
    for(var project of portfolio.projectList) {
        const carouselId = "myCarousel_" + project.slug;
        const carouselIndicatorsId = "myCarouselIndicators_" + project.slug;
        const carouselInnerId = "myCarouselInner_" + project.slug;

        if(progCounter++ % 2 == 0) {
            isEven = true;
        }
        else {
            isEven = false;
        } %>

        <div class="row carousel-row">
            <!-- project carousel -->
            <% if(isEven) { %>
            <!-- project brief description -->
            <div class="progDescription-left col-sm-3 white-text backInCustomLightBlue">
                <h1><%= project.title %></h1>
                <div><%= project.briefDescription %></div>
                <hr class="featurette-divider">
                <a class="btn btn-success" href="/portfolios/<%= portfolio.createdBy.google.id %>/<%= project.slug %>" role="button">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> View Project
                </a>
            </div>

            <div class="col-sm-9 carousel-div-right backInCustomLightBlue">
            <% } else { %>
            <!-- project brief description -->
            <div class="progDescription-left col-sm-3 white-text backInCustomLightBlue">
                <h1><%= project.title %></h1>
                <div><%= project.briefDescription %></div>
                <hr class="featurette-divider">
                <a class="btn btn-success" href="/portfolios/<%= portfolio.createdBy.google.id %>/<%= project.slug %>" role="button">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span> View Project
                </a>
            </div>

            <div class="col-sm-9 carousel-div-right backInCustomLightBlue">
            <% }  %>
                <div id="<%= carouselId %>" class="carousel slide" data-ride="carousel">
                    <ol id="<%= carouselIndicatorsId %>" class="carousel-indicators">
                        <%  var mediaId = 0;
                            for(media of project.mediaList) { 
                                if(mediaId === 0) { %>
                                <li data-target="#<%= carouselId %>" data-slide-to="<%= mediaId %>" class="active"></li>
                                <% } else { %>
                                <li data-target="#<%= carouselId %>" data-slide-to="<%= mediaId %>"></li>
                                <% }  %>
                        <%  mediaId++;
                            }  %>
                    </ol>

                    <div id="m<%= carouselInnerId %>" class="carousel-inner" role="listbox">
                        <%  mediaId = 0;
                            for(media of project.mediaList) { 
                            if(mediaId === 0) { %>
                            <div class="item active">
                            <% } else { %>
                            <div class="item">
                            <% }  %>
                                <a data-fancybox="<%= project.slug %>" data-caption="<%= media.mediaTitle + ' - ' + media.description %>" href="<%= media.mediaUrl %>">
                                    <img class="img-responsive center-block" src="<%= media.mediaUrl %>" alt="<%= media.mediaTitle %>">
                                </a>
                                <div class="container">
                                    <div class="carousel-caption">
                                        <h2><%= media.mediaTitle %></h2>
                                        <p><%= media.description %></p>
                                    </div>
                                </div>
                            </div>
                        <%  mediaId++;
                            }  %>
                    </div>

                    <a class="left carousel-control" href="#<%= carouselId %>" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#<%= carouselId %>" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
                
        </div>
<%  }  %>
</div>
<hr class="featurette-divider">

<!-- User's web links -->

<div class="row">
    <!-- Github -->
    <div class="col-sm-3 contentCentered weblinks">
        <img class="img-circle" src="/images/github-140.png" alt="Github" width="140" height="140">
        <h2>Github</h2>
        <% if(portfolio.webportals.github.length > 0) { %>
        <a class="btn btn-primary" href="<%= portfolio.webportals.github %>" target="_blank" role="button">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
        </a>
        <% } %>
    </div>
    <!-- Stack Overflow -->
    <div class="col-sm-3 contentCentered weblinks">
        <img class="img-circle" src="/images/stackoverflow-140.png" alt="Stack Overflow" width="140" height="140">
        <h2>Stack Overflow</h2>
        <% if(portfolio.webportals.stackoverflow.length > 0) { %>
        <a class="btn btn-primary" href="<%= portfolio.webportals.stackoverflow %>" target="_blank" role="button">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
        </a>
        <% } %>
    </div>
    <!-- LinkedIn -->
    <div class="col-sm-3 contentCentered weblinks">
        <img class="img-circle" src="/images/linkedin-140.png" alt="LinkedIn" width="140" height="140">
        <h2>LinkedIn</h2>
        <% if(portfolio.webportals.linkedin.length > 0) { %>
        <a class="btn btn-primary" href="<%= portfolio.webportals.linkedin %>" target="_blank" role="button">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
        </a>
        <% } %>
    </div>
    <!-- Hackerrank -->
    <div class="col-sm-3 contentCentered weblinks">
        <img class="img-circle" src="/images/hackerrank-140.png" alt="Hackerrank" width="140" height="140">
        <h2>Hackerrank</h2>
        <% if(portfolio.webportals.hackerrank.length > 0) { %>
        <a class="btn btn-primary" href="<%= portfolio.webportals.hackerrank %>" target="_blank" role="button">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
        </a>
        <% } %>
    </div>
</div>
