<!-- breadcrumbs -->
<ol class="breadcrumb">
    <li><a class="hvr-forward" href="/">Home</a></li>
    <li><a class="hvr-forward" href="/portfolios">Portfolios</a></li>
    <li class="active"><%= portfolio.createdBy.google.name %></li>
</ol>

<div class="jumbotron text-center customizedNormalAbstract bg-no-overlay">
    <div class="row">
        <div class="col-sm-12 contentCentered">
            <img class="img-circle hvr-bounce-in" src="<%= portfolio.createdBy.google.imageUrl %>" alt="<%= portfolio.createdBy.google.name %>">
            <div class="textInTransparentBlack">
                <h1><%= portfolio.createdBy.google.name %></h1>
                <h2><img alt="MyPortfolio" class="img-circle hvr-bounce-in" src="/images/myPortfolio-logo-black-100.png" width="60px"><span>ortfolio</span></h2>
            </div>
        </div>
    </div>
    <% if ((typeof user !== 'undefined') && (user) && (user.google.id === portfolio.createdBy.google.id)) { %>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-sm-6 contentCentered">
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/editPortfolio" role="button">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Edit Profile Infos
            </a>
        </div>
        <div class="col-sm-6 contentCentered">
            <a class="btn btn-primary hvr-float-shadow" href="/portfolios/editPortfolioProjects" role="button">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit Projects
            </a>
        </div>
    </div>
    <% } %>
</div>

<% if(errors.length > 0) { %>
    <div class="alert alert-danger">
        <% for(error of errors) { %>
            <%= error %><br>
        <% } %>
    </div>
<% } %>

<ul class="nav nav-tabs nav-justified">
    <li class="active"><a class="hvr-shadow-radial" data-toggle="tab" href="#infotab"><h4 class="hvr-icon-bounce">Info</h4></a></li>
    <li><a class="hvr-shadow-radial" data-toggle="tab" href="#projectstab"><h4 class="hvr-icon-spin">Projects (<%= portfolio.projectList.length %>)</h4></a></li>
</ul>

<div class="tab-content">
    <!-- Profile Tab -->
    <div id="infotab" class="tab-pane fade in active">

        <!-- User's details -->
        <div data-example-id="contextual-panels-user">
            <div class="panel panel-primary">
                <!-- Profile's title -->
                <div class="panel-heading"><h3 class="panel-title"><%- portfolio.profileTitle %></h3></div>
                <!-- Profile Description -->
                <div class="panel-body"> <%- portfolio.profileDescription %> </div>
                <!-- CV -->
                <% if(portfolio.cv.length > 0) { %>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 contentCentered">
                            <a class="btn btn-primary hvr-float-shadow" href="<%= portfolio.cv %>" target="_blank" role="button">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Open CV
                            </a>
                        </div>
                        <div class="col-sm-6 contentCentered">
                            <a class="btn btn-primary hvr-float-shadow" href="<%= portfolio.cv %>" download="<%= portfolio.createdBy.google.name + ' - CV' + path.extname(portfolio.cv) %>" role="button">
                                <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download CV
                            </a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- User's web links -->
        <div data-example-id="contextual-panels-weblinks">
            <div class="panel panel-primary">
                <!-- Weblinks' panel title -->
                <div class="panel-heading"><h3 class="panel-title">Pay a visit to my other profiles</h3></div>
                <!-- Weblinks -->
                <div class="panel-body">
                    <div class="row">
                        <!-- Github -->
                        <div class="col-sm-3 contentCentered weblinks">
                            <% if(portfolio.webportals.github.length > 0) { %>
                            <a href="<%= portfolio.webportals.github %>" target="_blank">
                                <img class="hvr-bounce-in" src="/images/github-140.png" alt="Github" width="100" height="100">
                            </a>
                            <h2>Github</h2>
                            <a class="btn btn-primary hvr-float-shadow" href="<%= portfolio.webportals.github %>" target="_blank" role="button">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
                            </a>
                            <% } else { %>
                            <img src="/images/github-140.png" alt="Github" width="100" height="100">
                            <h2>Github</h2>
                            <% } %>
                        </div>
                        <!-- Stack Overflow -->
                        <div class="col-sm-3 contentCentered weblinks">
                            <% if(portfolio.webportals.stackoverflow.length > 0) { %>
                            <a href="<%= portfolio.webportals.stackoverflow %>" target="_blank">
                                <img class="hvr-bounce-in" src="/images/stackoverflow-140.png" alt="Stack Overflow" width="100" height="100">
                            </a>
                            <h2>Stack Overflow</h2>
                            <a class="btn btn-primary hvr-float-shadow" href="<%= portfolio.webportals.stackoverflow %>" target="_blank" role="button">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
                            </a>
                            <% } else { %>
                            <img src="/images/stackoverflow-140.png" alt="Stack Overflow" width="100" height="100">
                            <h2>Stack Overflow</h2>
                            <% } %>
                        </div>
                        <!-- LinkedIn -->
                        <div class="col-sm-3 contentCentered weblinks">
                            <% if(portfolio.webportals.linkedin.length > 0) { %>
                            <a href="<%= portfolio.webportals.linkedin %>" target="_blank">
                                <img class="hvr-bounce-in" src="/images/linkedin-140.png" alt="LinkedIn" width="100" height="100">
                            </a>
                            <h2>LinkedIn</h2>
                            <a class="btn btn-primary hvr-float-shadow" href="<%= portfolio.webportals.linkedin %>" target="_blank" role="button">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
                            </a>
                            <% } else { %>
                            <img src="/images/linkedin-140.png" alt="LinkedIn" width="100" height="100">
                            <h2>LinkedIn</h2>
                            <% } %>
                        </div>
                        <!-- Hackerrank -->
                        <div class="col-sm-3 contentCentered weblinks">
                            <% if(portfolio.webportals.hackerrank.length > 0) { %>
                            <a href="<%= portfolio.webportals.hackerrank %>" target="_blank">
                                <img class="hvr-bounce-in" src="/images/hackerrank-140.png" alt="Hackerrank" width="100" height="100">
                            </a>
                            <h2>Hackerrank</h2>
                            <a class="btn btn-primary hvr-float-shadow" href="<%= portfolio.webportals.hackerrank %>" target="_blank" role="button">
                                <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Go!
                            </a>
                            <% } else { %>
                            <img src="/images/hackerrank-140.png" alt="Hackerrank" width="100" height="100">
                            <h2>Hackerrank</h2>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Projects Tab -->
    <div id="projectstab" class="tab-pane fade">
        <!-- User's projects -->
        <div id="projectsdiv">
        <%  var progCounter = 0;
            var isEven = true;
            for(var project of portfolio.projectList) {
                const carouselId = "myCarousel_" + project.slug;
                const carouselIndicatorsId = "myCarouselIndicators_" + project.slug;
                const carouselInnerId = "myCarouselInner_" + project.slug;
        
                if(progCounter++ % 2 == 0) {
                    isEven = true;
                }
                else {
                    isEven = false;
                } %>
        
                <div class="row carousel-row">
                    <!-- project brief description -->
                    <div class="progDescription-left col-sm-3 white-text backInCustomLightBlue">
                        <h3><%= project.title %></h3>
                        <div><%= project.briefDescription %></div>
                        <hr class="featurette-divider">
                        <a class="btn btn-success hvr-float-shadow" href="/portfolios/<%= portfolio.createdBy.google.id %>/<%= project.slug %>" role="button">
                            <span class="glyphicon glyphicon-link" aria-hidden="true"></span> View Project
                        </a>
                    </div>
                    <!-- project carousel -->
                    <div class="col-sm-9 carousel-div-right backInCustomLightBlue">
                        <div id="<%= carouselId %>" class="carousel slide" data-ride="carousel">
                            <ol id="<%= carouselIndicatorsId %>" class="carousel-indicators">
                                <%  var mediaId = 0;
                                    for(media of project.mediaList) { 
                                        if(mediaId === 0) { %>
                                        <li data-target="#<%= carouselId %>" data-slide-to="<%= mediaId %>" class="active"></li>
                                        <% } else { %>
                                        <li data-target="#<%= carouselId %>" data-slide-to="<%= mediaId %>"></li>
                                        <% }  %>
                                <%  mediaId++;
                                    }  %>
                            </ol>
        
                            <div id="m<%= carouselInnerId %>" class="carousel-inner" role="listbox">
                                <%  mediaId = 0;
                                    for(media of project.mediaList) { 
                                    if(mediaId === 0) { %>
                                    <div class="item active">
                                    <% } else { %>
                                    <div class="item">
                                    <% }  %>
                                        <a data-fancybox="<%= project.slug %>" data-caption="<%= media.mediaTitle + ' - ' + media.description %>" href="<%= media.mediaUrl %>">
                                            <img class="img-responsive center-block" src="<%= media.mediaUrl %>" alt="<%= media.mediaTitle %>">
                                        </a>
                                        <div class="container">
                                            <div class="carousel-caption textInTransparentBlack">
                                                <h2><%= media.mediaTitle %></h2>
                                                <p><%= media.description %></p>
                                            </div>
                                        </div>
                                    </div>
                                <%  mediaId++;
                                    }  %>
                            </div>
        
                            <a class="left carousel-control" href="#<%= carouselId %>" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#<%= carouselId %>" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                        
                </div>
        <%  }  %>
        </div>
        <hr class="featurette-divider">
    </div>
</div>
